<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th class="cabecera">id</th>
            <th class="cabecera">Nombre</th>
            <th class="cabecera">Apellidos</th>
            <th class="cabecera">Edad</th>
        </tr>
        
        <tr>
            <th>1</th>
            <th>Luis</th>
            <th>Chacón Manzo</th>
            <th>21</th>
        </tr>
        
        <tr>
            <th>2</th>
            <th>Ricardo</th>
            <th>Alfonso Kamey</th>
            <th>19</th>
        </tr>
        
        <tr>
            <th>3</th>
            <th>Alejandro</th>
            <th>Chacón Manzo</th>
            <th>23</th>
        </tr>
    </table>
</body>
</html>